.header {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: grid;
    gap: 15px;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
  }

  .header__logo {
    font-size: 18px;
  }

  .header__search {
    position: relative;
  }

  &__search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__search-input {
    width: 100%;
    color: white;
    border-radius: var(--border-radius);
    padding: 10px 10px;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
  }

  &__search-btn {
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    background-color: transparent;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}